# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# # Upload credit_card_transactions.csv to Colab
# from google.colab import files

# csv_file = files.upload()

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("Resources/applicants_data.csv")

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 'USE_CASE',
                         'AFFILIATION',	'CLASSIFICATION','ORGANIZATION',
                         'INCOME_AMT','SPECIAL_CONSIDERATIONS' ]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'USE_CASE',
 'AFFILIATION',
 'CLASSIFICATION',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                          columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# numerical_df = applicant_data_df.drop(columns=['APPLICATION_TYPE', 'USE_CASE',
#                          'AFFILIATION',	'CLASSIFICATION','ORGANIZATION',
#                          'INCOME_AMT','SPECIAL_CONSIDERATIONS'])
# numerical_df.head()

In [13]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [14]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [15]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [16]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [26]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [27]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

2

In [28]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

2

In [29]:
# Create the Sequential model instance
nn = Sequential()

In [30]:
# Add the first hidden layer
nn.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

In [31]:
# Add the second hidden layer
nn.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer2, activation="relu"))

In [32]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [33]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 2)                 234
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 6
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 6
=================================================================
Total params: 246
Trainable params: 246
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [34]:
# Compile the Sequential model
nn.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [35]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 448us/step - loss: 0.9470 - accuracy: 0.5581
Epoch 2/50
804/804 [==============================] - 0s 446us/step - loss: 0.7190 - accuracy: 0.6328
Epoch 3/50
804/804 [==============================] - 0s 447us/step - loss: 0.6539 - accuracy: 0.6717
Epoch 4/50
804/804 [==============================] - 0s 447us/step - loss: 0.6195 - accuracy: 0.6651
Epoch 5/50
804/804 [==============================] - 0s 444us/step - loss: 0.6157 - accuracy: 0.5839
Epoch 6/50
804/804 [==============================] - 0s 448us/step - loss: 0.6005 - accuracy: 0.6282
Epoch 7/50
804/804 [==============================] - 0s 442us/step - loss: 0.5978 - accuracy: 0.6427
Epoch 8/50
804/804 [==============================] - 0s 436us/step - loss: 0.5979 - accuracy: 0.6077
Epoch 9/50
804/804 [==============================] - 0s 440us/step - loss: 0.5968 - accuracy: 0.5585
Epoch 10/50
804/804 [==============================] - 0s 438us/step - loss: 0.5968 - accuracy: 0.5936
Epoch 11/50
804/804 [==============================] - 0s 450us/step - loss: 0.6000 - accuracy: 0.5329
Epoch 12/50
804/804 [==============================] - 0s 461us/step - loss: 0.5963 - accuracy: 0.3985
Epoch 13/50
804/804 [==============================] - 0s 458us/step - loss: 0.5949 - accuracy: 0.3669
Epoch 14/50
804/804 [==============================] - 0s 454us/step - loss: 0.5953 - accuracy: 0.3393
Epoch 15/50
804/804 [==============================] - 0s 442us/step - loss: 0.6272 - accuracy: 0.5335
Epoch 16/50
804/804 [==============================] - 0s 497us/step - loss: 0.6159 - accuracy: 0.5335
Epoch 17/50
804/804 [==============================] - 0s 440us/step - loss: 0.6076 - accuracy: 0.5335
Epoch 18/50
804/804 [==============================] - 0s 437us/step - loss: 0.5998 - accuracy: 0.5335
Epoch 19/50
804/804 [==============================] - 0s 437us/step - loss: 0.5956 - accuracy: 0.5335
Epoch 20/50
804/804 [==============================] - 0s 443us/step - loss: 0.5956 - accuracy: 0.5335
Epoch 21/50
804/804 [==============================] - 0s 438us/step - loss: 0.5942 - accuracy: 0.6520
Epoch 22/50
804/804 [==============================] - 0s 461us/step - loss: 0.5961 - accuracy: 0.5961
Epoch 23/50
804/804 [==============================] - 0s 448us/step - loss: 0.6004 - accuracy: 0.5919
Epoch 24/50
804/804 [==============================] - 0s 445us/step - loss: 0.6008 - accuracy: 0.5860
Epoch 25/50
804/804 [==============================] - 0s 445us/step - loss: 0.5949 - accuracy: 0.4979
Epoch 26/50
804/804 [==============================] - 0s 447us/step - loss: 0.5921 - accuracy: 0.4682
Epoch 27/50
804/804 [==============================] - 0s 444us/step - loss: 0.5926 - accuracy: 0.4540
Epoch 28/50
804/804 [==============================] - 0s 445us/step - loss: 0.5930 - accuracy: 0.4693
Epoch 29/50
804/804 [==============================] - 0s 447us/step - loss: 0.5932 - accuracy: 0.4202
Epoch 30/50
804/804 [==============================] - 0s 444us/step - loss: 0.5932 - accuracy: 0.6136
Epoch 31/50
804/804 [==============================] - 0s 445us/step - loss: 0.5933 - accuracy: 0.5860
Epoch 32/50
804/804 [==============================] - 0s 441us/step - loss: 0.5922 - accuracy: 0.4711
Epoch 33/50
804/804 [==============================] - 0s 441us/step - loss: 0.6068 - accuracy: 0.4818
Epoch 34/50
804/804 [==============================] - 0s 453us/step - loss: 0.5991 - accuracy: 0.4665
Epoch 35/50
804/804 [==============================] - 0s 443us/step - loss: 0.5957 - accuracy: 0.4665
Epoch 36/50
804/804 [==============================] - 0s 463us/step - loss: 0.5931 - accuracy: 0.4601
Epoch 37/50
804/804 [==============================] - 0s 452us/step - loss: 0.5929 - accuracy: 0.3220
Epoch 38/50
804/804 [==============================] - 0s 448us/step - loss: 0.5951 - accuracy: 0.3272
Epoch 39/50
804/804 [==============================] - 0s 451us/step - loss: 0.5939 - accuracy: 0.4005
Epoch 40/50
804/804 [==============================] - 0s 473us/step - loss: 0.5921 - accuracy: 0.3195
Epoch 41/50
804/804 [==============================] - 0s 455us/step - loss: 0.5916 - accuracy: 0.3581
Epoch 42/50
804/804 [==============================] - 0s 454us/step - loss: 0.5918 - accuracy: 0.4237
Epoch 43/50
804/804 [==============================] - 0s 439us/step - loss: 0.5943 - accuracy: 0.5458
Epoch 44/50
804/804 [==============================] - 0s 439us/step - loss: 0.5935 - accuracy: 0.6431
Epoch 45/50
804/804 [==============================] - 0s 454us/step - loss: 0.5933 - accuracy: 0.5917
Epoch 46/50
804/804 [==============================] - 0s 466us/step - loss: 0.5920 - accuracy: 0.5537
Epoch 47/50
804/804 [==============================] - 0s 447us/step - loss: 0.5926 - accuracy: 0.5091
Epoch 48/50
804/804 [==============================] - 0s 467us/step - loss: 0.5930 - accuracy: 0.5113
Epoch 49/50
804/804 [==============================] - 0s 440us/step - loss: 0.5919 - accuracy: 0.5569
Epoch 50/50
804/804 [==============================] - 0s 459us/step - loss: 0.5924 - accuracy: 0.4436

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [36]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = b

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5837 - accuracy: 0.2855
Loss: 0.5837312936782837, Accuracy: 0.2854810357093811

In [37]:
from pathlib import Path

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [38]:
# Set the model's file path
file_path = Path("Resources/AlphabeSoup.h5")
# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 4

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

3

In [42]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [43]:
# First hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A1, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="relu"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 3)                 351
_________________________________________________________________
dense_7 (Dense)              (None, 4)                 16
=================================================================
Total params: 367
Trainable params: 367
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [45]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 475us/step - loss: 2.3800 - accuracy: 0.3325
Epoch 2/50
804/804 [==============================] - 0s 446us/step - loss: 1.1780 - accuracy: 0.3149
Epoch 3/50
804/804 [==============================] - 0s 445us/step - loss: 1.0366 - accuracy: 0.2910
Epoch 4/50
804/804 [==============================] - 0s 444us/step - loss: 0.8989 - accuracy: 0.2240
Epoch 5/50
804/804 [==============================] - 0s 443us/step - loss: 0.8018 - accuracy: 0.2179
Epoch 6/50
804/804 [==============================] - 0s 443us/step - loss: 0.7653 - accuracy: 0.1638
Epoch 7/50
804/804 [==============================] - 0s 442us/step - loss: 0.7483 - accuracy: 0.1422
Epoch 8/50
804/804 [==============================] - 0s 447us/step - loss: 0.7395 - accuracy: 0.1476
Epoch 9/50
804/804 [==============================] - 0s 439us/step - loss: 0.7300 - accuracy: 0.0995
Epoch 10/50
804/804 [==============================] - 0s 431us/step - loss: 0.7090 - accuracy: 0.0907
Epoch 11/50
804/804 [==============================] - 0s 452us/step - loss: 0.6979 - accuracy: 0.1169
Epoch 12/50
804/804 [==============================] - 0s 454us/step - loss: 0.6914 - accuracy: 0.0823
Epoch 13/50
804/804 [==============================] - 0s 442us/step - loss: 0.6806 - accuracy: 0.1162
Epoch 14/50
804/804 [==============================] - 0s 462us/step - loss: 0.6787 - accuracy: 0.1260
Epoch 15/50
804/804 [==============================] - 0s 479us/step - loss: 0.6766 - accuracy: 0.1287
Epoch 16/50
804/804 [==============================] - 0s 538us/step - loss: 0.6764 - accuracy: 0.1634
Epoch 17/50
804/804 [==============================] - 0s 494us/step - loss: 0.6766 - accuracy: 0.1496
Epoch 18/50
804/804 [==============================] - 0s 449us/step - loss: 0.6762 - accuracy: 0.1519
Epoch 19/50
804/804 [==============================] - 0s 461us/step - loss: 0.6731 - accuracy: 0.2887
Epoch 20/50
804/804 [==============================] - 0s 450us/step - loss: 0.6750 - accuracy: 0.2193
Epoch 21/50
804/804 [==============================] - 0s 449us/step - loss: 0.6746 - accuracy: 0.2024
Epoch 22/50
804/804 [==============================] - 0s 471us/step - loss: 0.6766 - accuracy: 0.1627
Epoch 23/50
804/804 [==============================] - 0s 451us/step - loss: 0.6742 - accuracy: 0.2732
Epoch 24/50
804/804 [==============================] - 0s 448us/step - loss: 0.6748 - accuracy: 0.2931
Epoch 25/50
804/804 [==============================] - 0s 453us/step - loss: 0.6748 - accuracy: 0.4559
Epoch 26/50
804/804 [==============================] - 0s 438us/step - loss: 0.6728 - accuracy: 0.3949
Epoch 27/50
804/804 [==============================] - 0s 440us/step - loss: 0.6770 - accuracy: 0.3488
Epoch 28/50
804/804 [==============================] - 0s 460us/step - loss: 0.6744 - accuracy: 0.3832
Epoch 29/50
804/804 [==============================] - 0s 465us/step - loss: 0.6724 - accuracy: 0.4239
Epoch 30/50
804/804 [==============================] - 0s 466us/step - loss: 0.6720 - accuracy: 0.3604
Epoch 31/50
804/804 [==============================] - 0s 488us/step - loss: 0.6741 - accuracy: 0.3640
Epoch 32/50
804/804 [==============================] - 0s 473us/step - loss: 0.6739 - accuracy: 0.3243
Epoch 33/50
804/804 [==============================] - 0s 460us/step - loss: 0.6841 - accuracy: 0.4110
Epoch 34/50
804/804 [==============================] - 0s 437us/step - loss: 0.6771 - accuracy: 0.3822
Epoch 35/50
804/804 [==============================] - 0s 448us/step - loss: 0.6741 - accuracy: 0.3594
Epoch 36/50
804/804 [==============================] - 0s 447us/step - loss: 0.6736 - accuracy: 0.1578
Epoch 37/50
804/804 [==============================] - 0s 499us/step - loss: 0.6727 - accuracy: 0.3561
Epoch 38/50
804/804 [==============================] - 0s 487us/step - loss: 0.6728 - accuracy: 0.2920
Epoch 39/50
804/804 [==============================] - 0s 489us/step - loss: 0.6759 - accuracy: 0.1974
Epoch 40/50
804/804 [==============================] - 0s 437us/step - loss: 0.6733 - accuracy: 0.2247
Epoch 41/50
804/804 [==============================] - 0s 482us/step - loss: 0.6765 - accuracy: 0.3647
Epoch 42/50
804/804 [==============================] - 0s 447us/step - loss: 0.6735 - accuracy: 0.1378
Epoch 43/50
804/804 [==============================] - 0s 438us/step - loss: 0.6723 - accuracy: 0.0743
Epoch 44/50
804/804 [==============================] - 0s 458us/step - loss: 0.6742 - accuracy: 0.1420
Epoch 45/50
804/804 [==============================] - 0s 469us/step - loss: 0.6722 - accuracy: 0.2028
Epoch 46/50
804/804 [==============================] - 0s 476us/step - loss: 0.6577 - accuracy: 0.2739
Epoch 47/50
804/804 [==============================] - 0s 486us/step - loss: 0.5926 - accuracy: 0.4144
Epoch 48/50
804/804 [==============================] - 0s 462us/step - loss: 0.5836 - accuracy: 0.4558
Epoch 49/50
804/804 [==============================] - 0s 562us/step - loss: 0.5827 - accuracy: 0.1933
Epoch 50/50
804/804 [==============================] - 0s 523us/step - loss: 0.5828 - accuracy: 0.1956

#### Alternative Model 2

In [46]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [47]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 8

In [48]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 =6

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

6

In [49]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [50]:
# First hidden layer
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="relu"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 6)                 702
_________________________________________________________________
dense_9 (Dense)              (None, 8)                 56
=================================================================
Total params: 758
Trainable params: 758
Non-trainable params: 0
_________________________________________________________________

In [51]:
# Compile the model
nn_A2.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [52]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 558us/step - loss: 3.4908 - accuracy: 0.0541
Epoch 2/50
804/804 [==============================] - 0s 468us/step - loss: 1.4524 - accuracy: 0.0509
Epoch 3/50
804/804 [==============================] - 0s 477us/step - loss: 1.1326 - accuracy: 0.1925
Epoch 4/50
804/804 [==============================] - 0s 472us/step - loss: 0.9117 - accuracy: 0.1899
Epoch 5/50
804/804 [==============================] - 0s 463us/step - loss: 0.8480 - accuracy: 0.2342
Epoch 6/50
804/804 [==============================] - 0s 463us/step - loss: 0.8121 - accuracy: 0.2781
Epoch 7/50
804/804 [==============================] - 0s 456us/step - loss: 0.7864 - accuracy: 0.1810
Epoch 8/50
804/804 [==============================] - 0s 485us/step - loss: 0.7617 - accuracy: 0.1386
Epoch 9/50
804/804 [==============================] - 0s 505us/step - loss: 0.7284 - accuracy: 0.2642
Epoch 10/50
804/804 [==============================] - 0s 469us/step - loss: 0.7050 - accuracy: 0.2820
Epoch 11/50
804/804 [==============================] - 0s 503us/step - loss: 0.6868 - accuracy: 0.0914
Epoch 12/50
804/804 [==============================] - 0s 472us/step - loss: 0.6752 - accuracy: 0.1003
Epoch 13/50
804/804 [==============================] - 0s 495us/step - loss: 0.6575 - accuracy: 0.1166
Epoch 14/50
804/804 [==============================] - 0s 512us/step - loss: 0.6513 - accuracy: 0.1387
Epoch 15/50
804/804 [==============================] - 0s 480us/step - loss: 0.6412 - accuracy: 0.1264
Epoch 16/50
804/804 [==============================] - 0s 499us/step - loss: 0.6376 - accuracy: 0.1879
Epoch 17/50
804/804 [==============================] - 0s 466us/step - loss: 0.6353 - accuracy: 0.0696
Epoch 18/50
804/804 [==============================] - 0s 465us/step - loss: 0.6351 - accuracy: 0.0416
Epoch 19/50
804/804 [==============================] - 0s 482us/step - loss: 0.6312 - accuracy: 0.0218
Epoch 20/50
804/804 [==============================] - 0s 477us/step - loss: 0.6299 - accuracy: 0.0200
Epoch 21/50
804/804 [==============================] - 0s 498us/step - loss: 0.6288 - accuracy: 0.0473
Epoch 22/50
804/804 [==============================] - 0s 494us/step - loss: 0.6288 - accuracy: 0.0959
Epoch 23/50
804/804 [==============================] - 0s 483us/step - loss: 0.6253 - accuracy: 0.0421
Epoch 24/50
804/804 [==============================] - 0s 492us/step - loss: 0.6237 - accuracy: 0.1074
Epoch 25/50
804/804 [==============================] - 0s 470us/step - loss: 0.6195 - accuracy: 0.0854
Epoch 26/50
804/804 [==============================] - 0s 480us/step - loss: 0.6147 - accuracy: 0.0269
Epoch 27/50
804/804 [==============================] - 0s 494us/step - loss: 0.6138 - accuracy: 0.0304
Epoch 28/50
804/804 [==============================] - 0s 458us/step - loss: 0.6129 - accuracy: 0.0070
Epoch 29/50
804/804 [==============================] - 0s 451us/step - loss: 0.6086 - accuracy: 0.0433
Epoch 30/50
804/804 [==============================] - 0s 456us/step - loss: 0.6041 - accuracy: 0.0355
Epoch 31/50
804/804 [==============================] - 0s 456us/step - loss: 0.5998 - accuracy: 0.0484
Epoch 32/50
804/804 [==============================] - 0s 454us/step - loss: 0.5973 - accuracy: 0.0823
Epoch 33/50
804/804 [==============================] - 0s 457us/step - loss: 0.5990 - accuracy: 0.0556
Epoch 34/50
804/804 [==============================] - 0s 482us/step - loss: 0.5953 - accuracy: 0.0517
Epoch 35/50
804/804 [==============================] - 0s 476us/step - loss: 0.5958 - accuracy: 0.0203
Epoch 36/50
804/804 [==============================] - 0s 475us/step - loss: 0.5930 - accuracy: 0.0440
Epoch 37/50
804/804 [==============================] - 0s 470us/step - loss: 0.5940 - accuracy: 0.0499
Epoch 38/50
804/804 [==============================] - 0s 474us/step - loss: 0.5930 - accuracy: 0.0330
Epoch 39/50
804/804 [==============================] - 0s 477us/step - loss: 0.5907 - accuracy: 0.0351
Epoch 40/50
804/804 [==============================] - 0s 479us/step - loss: 0.5914 - accuracy: 0.0231
Epoch 41/50
804/804 [==============================] - 0s 475us/step - loss: 0.5908 - accuracy: 0.0536
Epoch 42/50
804/804 [==============================] - 0s 482us/step - loss: 0.5889 - accuracy: 0.1882
Epoch 43/50
804/804 [==============================] - 0s 475us/step - loss: 0.5906 - accuracy: 0.1448
Epoch 44/50
804/804 [==============================] - 0s 470us/step - loss: 0.5918 - accuracy: 0.0829
Epoch 45/50
804/804 [==============================] - 0s 495us/step - loss: 0.5893 - accuracy: 0.0391
Epoch 46/50
804/804 [==============================] - 0s 464us/step - loss: 0.5939 - accuracy: 0.0597
Epoch 47/50
804/804 [==============================] - 0s 494us/step - loss: 0.5946 - accuracy: 0.0537
Epoch 48/50
804/804 [==============================] - 0s 469us/step - loss: 0.5893 - accuracy: 0.0626
Epoch 49/50
804/804 [==============================] - 0s 485us/step - loss: 0.5936 - accuracy: 0.0107
Epoch 50/50
804/804 [==============================] - 0s 506us/step - loss: 0.5881 - accuracy: 0.02130s - loss: 0.5873 - accuracy: 0.

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [54]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5837 - accuracy: 0.2855
Loss: 0.5837312936782837, Accuracy: 0.2854810357093811

In [55]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(
    X_test_scaled, y_test, verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5838 - accuracy: 0.1715
Loss: 0.5837838649749756, Accuracy: 0.17154519259929657

In [56]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
    X_test_scaled, y_test, verbose=2
)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5983 - accuracy: 0.0316
Loss: 0.5982769131660461, Accuracy: 0.03160350024700165

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE