# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.sample()

30325    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = 116 

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

2

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

2

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 2)                 234
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 6
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 6
=================================================================
Total params: 246
Trainable params: 246
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [24]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 494us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 2/50
804/804 [==============================] - 0s 465us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 3/50
804/804 [==============================] - 0s 452us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 4/50
804/804 [==============================] - 0s 450us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 5/50
804/804 [==============================] - 0s 460us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 6/50
804/804 [==============================] - 0s 453us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 7/50
804/804 [==============================] - 0s 477us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 8/50
804/804 [==============================] - 0s 460us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 9/50
804/804 [==============================] - 0s 451us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 10/50
804/804 [==============================] - 0s 453us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 11/50
804/804 [==============================] - 0s 454us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 12/50
804/804 [==============================] - 0s 449us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 13/50
804/804 [==============================] - 0s 449us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 14/50
804/804 [==============================] - 0s 457us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 15/50
804/804 [==============================] - 0s 456us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 16/50
804/804 [==============================] - 0s 453us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 17/50
804/804 [==============================] - 0s 448us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 18/50
804/804 [==============================] - 0s 452us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 19/50
804/804 [==============================] - 0s 447us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 20/50
804/804 [==============================] - 0s 450us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 21/50
804/804 [==============================] - 0s 456us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 22/50
804/804 [==============================] - 0s 447us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 23/50
804/804 [==============================] - 0s 451us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 24/50
804/804 [==============================] - 0s 450us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 25/50
804/804 [==============================] - 0s 452us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 26/50
804/804 [==============================] - 0s 450us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 27/50
804/804 [==============================] - 0s 471us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 28/50
804/804 [==============================] - 0s 468us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 29/50
804/804 [==============================] - 0s 449us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 30/50
804/804 [==============================] - 0s 448us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 31/50
804/804 [==============================] - 0s 451us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 32/50
804/804 [==============================] - 0s 450us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 33/50
804/804 [==============================] - 0s 452us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 34/50
804/804 [==============================] - 0s 451us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 35/50
804/804 [==============================] - 0s 453us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 36/50
804/804 [==============================] - 0s 446us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 37/50
804/804 [==============================] - 0s 448us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 38/50
804/804 [==============================] - 0s 495us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 39/50
804/804 [==============================] - 0s 493us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 40/50
804/804 [==============================] - 0s 487us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 41/50
804/804 [==============================] - 0s 487us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 42/50
804/804 [==============================] - 0s 510us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 43/50
804/804 [==============================] - 0s 501us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 44/50
804/804 [==============================] - 0s 453us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 45/50
804/804 [==============================] - 0s 491us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 46/50
804/804 [==============================] - 0s 436us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 47/50
804/804 [==============================] - 0s 431us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 48/50
804/804 [==============================] - 0s 472us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 49/50
804/804 [==============================] - 0s 454us/step - loss: 8.2288 - accuracy: 0.4665
Epoch 50/50
804/804 [==============================] - 0s 449us/step - loss: 8.2288 - accuracy: 0.4665

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled, y_test, verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 8.1631 - accuracy: 0.4708
Loss: 8.163082122802734, Accuracy: 0.4707871675491333

In [26]:
from pathlib import Path

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path("Resources/AlphabeSoup.h5")
# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 18

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 24

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

24

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

12

In [32]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [33]:
# First hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A1, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer2_A1, activation="linear"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="relu"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 24)                2808
_________________________________________________________________
dense_4 (Dense)              (None, 12)                300
_________________________________________________________________
dense_5 (Dense)              (None, 18)                234
=================================================================
Total params: 3,342
Trainable params: 3,342
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [35]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 514us/step - loss: 1.9976 - accuracy: 0.0170
Epoch 2/100
804/804 [==============================] - 0s 500us/step - loss: 0.9755 - accuracy: 0.0401
Epoch 3/100
804/804 [==============================] - 0s 565us/step - loss: 0.8722 - accuracy: 0.1607
Epoch 4/100
804/804 [==============================] - 0s 512us/step - loss: 0.8263 - accuracy: 0.1565
Epoch 5/100
804/804 [==============================] - 0s 554us/step - loss: 0.7948 - accuracy: 0.1514
Epoch 6/100
804/804 [==============================] - 0s 521us/step - loss: 0.7381 - accuracy: 0.2009
Epoch 7/100
804/804 [==============================] - 0s 516us/step - loss: 0.7159 - accuracy: 0.1745
Epoch 8/100
804/804 [==============================] - 0s 502us/step - loss: 0.7163 - accuracy: 0.1460
Epoch 9/100
804/804 [==============================] - 0s 491us/step - loss: 0.6764 - accuracy: 0.1223
Epoch 10/100
804/804 [==============================] - 0s 496us/step - loss: 0.6546 - accuracy: 0.1724
Epoch 11/100
804/804 [==============================] - 0s 502us/step - loss: 0.6441 - accuracy: 0.1730
Epoch 12/100
804/804 [==============================] - 0s 497us/step - loss: 0.6429 - accuracy: 0.1697
Epoch 13/100
804/804 [==============================] - 0s 462us/step - loss: 0.6519 - accuracy: 0.1168
Epoch 14/100
804/804 [==============================] - 0s 464us/step - loss: 0.6287 - accuracy: 0.0952
Epoch 15/100
804/804 [==============================] - 0s 461us/step - loss: 0.6241 - accuracy: 0.0990
Epoch 16/100
804/804 [==============================] - 0s 468us/step - loss: 0.6158 - accuracy: 0.1160
Epoch 17/100
804/804 [==============================] - 0s 504us/step - loss: 0.6150 - accuracy: 0.1150
Epoch 18/100
804/804 [==============================] - 0s 533us/step - loss: 0.6120 - accuracy: 0.1196
Epoch 19/100
804/804 [==============================] - 0s 485us/step - loss: 0.5936 - accuracy: 0.1037
Epoch 20/100
804/804 [==============================] - 0s 463us/step - loss: 0.6011 - accuracy: 0.0644
Epoch 21/100
804/804 [==============================] - 0s 461us/step - loss: 0.6022 - accuracy: 0.0421
Epoch 22/100
804/804 [==============================] - 0s 465us/step - loss: 0.5981 - accuracy: 0.0595
Epoch 23/100
804/804 [==============================] - 0s 465us/step - loss: 0.5943 - accuracy: 0.0669
Epoch 24/100
804/804 [==============================] - 0s 532us/step - loss: 0.5942 - accuracy: 0.0740
Epoch 25/100
804/804 [==============================] - 0s 474us/step - loss: 0.5880 - accuracy: 0.1205
Epoch 26/100
804/804 [==============================] - 0s 497us/step - loss: 0.5951 - accuracy: 0.0993
Epoch 27/100
804/804 [==============================] - 0s 501us/step - loss: 0.5868 - accuracy: 0.1100
Epoch 28/100
804/804 [==============================] - 0s 473us/step - loss: 0.5852 - accuracy: 0.0618
Epoch 29/100
804/804 [==============================] - 0s 467us/step - loss: 0.5831 - accuracy: 0.0598
Epoch 30/100
804/804 [==============================] - 0s 461us/step - loss: 0.5793 - accuracy: 0.0752
Epoch 31/100
804/804 [==============================] - 0s 513us/step - loss: 0.5770 - accuracy: 0.2099
Epoch 32/100
804/804 [==============================] - 0s 528us/step - loss: 0.5768 - accuracy: 0.0543
Epoch 33/100
804/804 [==============================] - 0s 461us/step - loss: 0.5780 - accuracy: 0.0342
Epoch 34/100
804/804 [==============================] - 0s 464us/step - loss: 0.5718 - accuracy: 0.0337
Epoch 35/100
804/804 [==============================] - 0s 462us/step - loss: 0.5818 - accuracy: 0.0635
Epoch 36/100
804/804 [==============================] - 0s 467us/step - loss: 0.5820 - accuracy: 0.0853
Epoch 37/100
804/804 [==============================] - 0s 474us/step - loss: 0.5744 - accuracy: 0.0680
Epoch 38/100
804/804 [==============================] - 0s 462us/step - loss: 0.5733 - accuracy: 0.0299
Epoch 39/100
804/804 [==============================] - 0s 499us/step - loss: 0.5739 - accuracy: 0.0524
Epoch 40/100
804/804 [==============================] - 0s 490us/step - loss: 0.5716 - accuracy: 0.0356
Epoch 41/100
804/804 [==============================] - 0s 525us/step - loss: 0.5718 - accuracy: 0.0481
Epoch 42/100
804/804 [==============================] - 0s 620us/step - loss: 0.5843 - accuracy: 0.0628
Epoch 43/100
804/804 [==============================] - 0s 479us/step - loss: 0.5731 - accuracy: 0.1908
Epoch 44/100
804/804 [==============================] - 0s 491us/step - loss: 0.5707 - accuracy: 0.0613
Epoch 45/100
804/804 [==============================] - 0s 468us/step - loss: 0.5695 - accuracy: 0.0261
Epoch 46/100
804/804 [==============================] - 0s 481us/step - loss: 0.5705 - accuracy: 0.0255
Epoch 47/100
804/804 [==============================] - 0s 497us/step - loss: 0.5684 - accuracy: 0.0385
Epoch 48/100
804/804 [==============================] - 0s 466us/step - loss: 0.5706 - accuracy: 0.0316
Epoch 49/100
804/804 [==============================] - 0s 517us/step - loss: 0.5774 - accuracy: 0.0332
Epoch 50/100
804/804 [==============================] - 0s 476us/step - loss: 0.5780 - accuracy: 0.0220
Epoch 51/100
804/804 [==============================] - 0s 499us/step - loss: 0.5697 - accuracy: 0.0169
Epoch 52/100
804/804 [==============================] - 0s 497us/step - loss: 0.5691 - accuracy: 0.0344
Epoch 53/100
804/804 [==============================] - 0s 486us/step - loss: 0.5684 - accuracy: 0.0425
Epoch 54/100
804/804 [==============================] - 0s 512us/step - loss: 0.5680 - accuracy: 0.0561
Epoch 55/100
804/804 [==============================] - 0s 564us/step - loss: 0.5711 - accuracy: 0.0394
Epoch 56/100
804/804 [==============================] - 0s 513us/step - loss: 0.5664 - accuracy: 0.0545
Epoch 57/100
804/804 [==============================] - 0s 493us/step - loss: 0.5683 - accuracy: 0.0287
Epoch 58/100
804/804 [==============================] - 0s 479us/step - loss: 0.5639 - accuracy: 0.0231
Epoch 59/100
804/804 [==============================] - 0s 482us/step - loss: 0.5637 - accuracy: 0.0225
Epoch 60/100
804/804 [==============================] - 0s 502us/step - loss: 0.5662 - accuracy: 0.0417
Epoch 61/100
804/804 [==============================] - 0s 488us/step - loss: 0.5643 - accuracy: 0.0533
Epoch 62/100
804/804 [==============================] - 0s 486us/step - loss: 0.5655 - accuracy: 0.1495
Epoch 63/100
804/804 [==============================] - 0s 525us/step - loss: 0.5676 - accuracy: 0.0426
Epoch 64/100
804/804 [==============================] - 0s 468us/step - loss: 0.5659 - accuracy: 0.0307
Epoch 65/100
804/804 [==============================] - 0s 486us/step - loss: 0.5683 - accuracy: 0.0577
Epoch 66/100
804/804 [==============================] - 0s 496us/step - loss: 0.5665 - accuracy: 0.0760
Epoch 67/100
804/804 [==============================] - 0s 482us/step - loss: 0.5662 - accuracy: 0.0711
Epoch 68/100
804/804 [==============================] - 0s 482us/step - loss: 0.5662 - accuracy: 0.0292
Epoch 69/100
804/804 [==============================] - 0s 501us/step - loss: 0.5619 - accuracy: 0.0577
Epoch 70/100
804/804 [==============================] - 0s 483us/step - loss: 0.5622 - accuracy: 0.0559
Epoch 71/100
804/804 [==============================] - 0s 462us/step - loss: 0.5639 - accuracy: 0.0424
Epoch 72/100
804/804 [==============================] - 0s 462us/step - loss: 0.5654 - accuracy: 0.0480
Epoch 73/100
804/804 [==============================] - 0s 488us/step - loss: 0.5627 - accuracy: 0.0276
Epoch 74/100
804/804 [==============================] - 0s 471us/step - loss: 0.5612 - accuracy: 0.0236
Epoch 75/100
804/804 [==============================] - 0s 477us/step - loss: 0.5658 - accuracy: 0.0527
Epoch 76/100
804/804 [==============================] - 0s 467us/step - loss: 0.5633 - accuracy: 0.0323
Epoch 77/100
804/804 [==============================] - 0s 489us/step - loss: 0.5626 - accuracy: 0.0324
Epoch 78/100
804/804 [==============================] - 0s 473us/step - loss: 0.5604 - accuracy: 0.0320
Epoch 79/100
804/804 [==============================] - 0s 581us/step - loss: 0.5625 - accuracy: 0.0470
Epoch 80/100
804/804 [==============================] - 0s 564us/step - loss: 0.5612 - accuracy: 0.0412
Epoch 81/100
804/804 [==============================] - 0s 536us/step - loss: 0.5620 - accuracy: 0.0504
Epoch 82/100
804/804 [==============================] - 0s 512us/step - loss: 0.5629 - accuracy: 0.0553
Epoch 83/100
804/804 [==============================] - 0s 513us/step - loss: 0.5612 - accuracy: 0.0825
Epoch 84/100
804/804 [==============================] - 0s 487us/step - loss: 0.5626 - accuracy: 0.0403
Epoch 85/100
804/804 [==============================] - 0s 470us/step - loss: 0.5617 - accuracy: 0.0449
Epoch 86/100
804/804 [==============================] - 0s 461us/step - loss: 0.5619 - accuracy: 0.0723
Epoch 87/100
804/804 [==============================] - 0s 466us/step - loss: 0.5618 - accuracy: 0.0468
Epoch 88/100
804/804 [==============================] - 0s 462us/step - loss: 0.5621 - accuracy: 0.1191
Epoch 89/100
804/804 [==============================] - 0s 468us/step - loss: 0.5651 - accuracy: 0.0863
Epoch 90/100
804/804 [==============================] - 0s 466us/step - loss: 0.5634 - accuracy: 0.0650
Epoch 91/100
804/804 [==============================] - 0s 469us/step - loss: 0.5618 - accuracy: 0.0681
Epoch 92/100
804/804 [==============================] - 0s 465us/step - loss: 0.5698 - accuracy: 0.0617
Epoch 93/100
804/804 [==============================] - 0s 466us/step - loss: 0.5615 - accuracy: 0.0622
Epoch 94/100
804/804 [==============================] - 0s 466us/step - loss: 0.5618 - accuracy: 0.0588
Epoch 95/100
804/804 [==============================] - 0s 484us/step - loss: 0.5608 - accuracy: 0.0644
Epoch 96/100
804/804 [==============================] - 0s 473us/step - loss: 0.5617 - accuracy: 0.0492
Epoch 97/100
804/804 [==============================] - 0s 472us/step - loss: 0.5700 - accuracy: 0.0554
Epoch 98/100
804/804 [==============================] - 0s 472us/step - loss: 0.5641 - accuracy: 0.0486
Epoch 99/100
804/804 [==============================] - 0s 473us/step - loss: 0.5593 - accuracy: 0.0391
Epoch 100/100
804/804 [==============================] - 0s 478us/step - loss: 0.5589 - accuracy: 0.0441

#### Alternative Model 2

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 12

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 16

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

16

In [39]:
# Define the number of hidden nodes for the Second hidden layer
hidden_nodes_layer2_A2 = 8

# Review the number of hidden nodes in the Second layer
hidden_nodes_layer2_A2

8

In [40]:
# Define the number of hidden nodes for the Third hidden layer
hidden_nodes_layer3_A2 = 4

# Review the number of hidden nodes in the Third layer
hidden_nodes_layer3_A2

4

In [41]:
# Define the number of hidden nodes for the Fourth hidden layer
hidden_nodes_layer4_A2 =4

# Review the number of hidden nodes in the Fourth layer
hidden_nodes_layer4_A2

4

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [43]:
# First hidden layer
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A2, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer2_A2, activation="linear"))

# Third hidden layer
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer3_A2, activation="relu"))

# Fourth hidden layer
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer4_A2, activation="linear"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="relu"))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 16)                1872
_________________________________________________________________
dense_7 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_8 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_9 (Dense)              (None, 4)                 20
_________________________________________________________________
dense_10 (Dense)             (None, 12)                60
=================================================================
Total params: 2,124
Trainable params: 2,124
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn_A2.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [45]:
# Fit the model
fit_model_A1 = nn_A2.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 1s 509us/step - loss: 1.5510 - accuracy: 0.0296
Epoch 2/75
804/804 [==============================] - 0s 509us/step - loss: 0.6926 - accuracy: 0.0382
Epoch 3/75
804/804 [==============================] - 0s 538us/step - loss: 0.6357 - accuracy: 0.1074
Epoch 4/75
804/804 [==============================] - 0s 538us/step - loss: 0.6151 - accuracy: 0.1570
Epoch 5/75
804/804 [==============================] - 0s 523us/step - loss: 0.6047 - accuracy: 0.1681
Epoch 6/75
804/804 [==============================] - 0s 504us/step - loss: 0.5972 - accuracy: 0.1754
Epoch 7/75
804/804 [==============================] - 0s 504us/step - loss: 0.5994 - accuracy: 0.1913
Epoch 8/75
804/804 [==============================] - 0s 511us/step - loss: 0.5960 - accuracy: 0.1068
Epoch 9/75
804/804 [==============================] - 0s 542us/step - loss: 0.5845 - accuracy: 0.1366
Epoch 10/75
804/804 [==============================] - 0s 519us/step - loss: 0.5825 - accuracy: 0.1102
Epoch 11/75
804/804 [==============================] - 0s 522us/step - loss: 0.5915 - accuracy: 0.1100
Epoch 12/75
804/804 [==============================] - 0s 542us/step - loss: 0.5841 - accuracy: 0.0532
Epoch 13/75
804/804 [==============================] - 0s 526us/step - loss: 0.5875 - accuracy: 0.0184
Epoch 14/75
804/804 [==============================] - 0s 511us/step - loss: 0.5744 - accuracy: 0.0485
Epoch 15/75
804/804 [==============================] - 0s 512us/step - loss: 0.5733 - accuracy: 0.1151
Epoch 16/75
804/804 [==============================] - 0s 550us/step - loss: 0.5733 - accuracy: 0.0574
Epoch 17/75
804/804 [==============================] - 0s 537us/step - loss: 0.5678 - accuracy: 0.1816
Epoch 18/75
804/804 [==============================] - 0s 520us/step - loss: 0.5631 - accuracy: 0.1569
Epoch 19/75
804/804 [==============================] - 0s 507us/step - loss: 0.5621 - accuracy: 0.1099
Epoch 20/75
804/804 [==============================] - 0s 516us/step - loss: 0.5684 - accuracy: 0.1052
Epoch 21/75
804/804 [==============================] - 0s 521us/step - loss: 0.5709 - accuracy: 0.0977
Epoch 22/75
804/804 [==============================] - 0s 509us/step - loss: 0.5615 - accuracy: 0.0404
Epoch 23/75
804/804 [==============================] - 0s 519us/step - loss: 0.5613 - accuracy: 0.0351
Epoch 24/75
804/804 [==============================] - 0s 510us/step - loss: 0.5619 - accuracy: 0.0138
Epoch 25/75
804/804 [==============================] - 0s 513us/step - loss: 0.5673 - accuracy: 0.0256
Epoch 26/75
804/804 [==============================] - 0s 510us/step - loss: 0.5688 - accuracy: 0.0238
Epoch 27/75
804/804 [==============================] - 0s 526us/step - loss: 0.5612 - accuracy: 0.0394
Epoch 28/75
804/804 [==============================] - 0s 512us/step - loss: 0.5586 - accuracy: 0.0673
Epoch 29/75
804/804 [==============================] - 0s 515us/step - loss: 0.5583 - accuracy: 0.0641
Epoch 30/75
804/804 [==============================] - 0s 513us/step - loss: 0.5571 - accuracy: 0.0586
Epoch 31/75
804/804 [==============================] - 0s 511us/step - loss: 0.5566 - accuracy: 0.1083
Epoch 32/75
804/804 [==============================] - 0s 519us/step - loss: 0.5580 - accuracy: 0.1036
Epoch 33/75
804/804 [==============================] - 0s 517us/step - loss: 0.5672 - accuracy: 0.0725
Epoch 34/75
804/804 [==============================] - 0s 514us/step - loss: 0.5616 - accuracy: 0.1220
Epoch 35/75
804/804 [==============================] - 0s 551us/step - loss: 0.5562 - accuracy: 0.0419
Epoch 36/75
804/804 [==============================] - 0s 538us/step - loss: 0.5555 - accuracy: 0.1008
Epoch 37/75
804/804 [==============================] - 0s 580us/step - loss: 0.5561 - accuracy: 0.0431
Epoch 38/75
804/804 [==============================] - 0s 515us/step - loss: 0.5555 - accuracy: 0.0639
Epoch 39/75
804/804 [==============================] - 0s 522us/step - loss: 0.5618 - accuracy: 0.0849
Epoch 40/75
804/804 [==============================] - 0s 556us/step - loss: 0.5586 - accuracy: 0.1173
Epoch 41/75
804/804 [==============================] - 0s 565us/step - loss: 0.5656 - accuracy: 0.1639
Epoch 42/75
804/804 [==============================] - 0s 566us/step - loss: 0.5599 - accuracy: 0.0423
Epoch 43/75
804/804 [==============================] - 0s 576us/step - loss: 0.5580 - accuracy: 0.0150
Epoch 44/75
804/804 [==============================] - 0s 581us/step - loss: 0.5531 - accuracy: 7.7748e-050s - loss: 0.5546 - accuracy: 8.8152
Epoch 45/75
804/804 [==============================] - 0s 556us/step - loss: 0.5529 - accuracy: 0.0610
Epoch 46/75
804/804 [==============================] - 0s 586us/step - loss: 0.5659 - accuracy: 0.1152
Epoch 47/75
804/804 [==============================] - ETA: 0s - loss: 0.5553 - accuracy: 0.0016 - 0s 555us/step - loss: 0.5571 - accuracy: 0.0053
Epoch 48/75
804/804 [==============================] - 0s 530us/step - loss: 0.5566 - accuracy: 0.0178
Epoch 49/75
804/804 [==============================] - 0s 578us/step - loss: 0.5528 - accuracy: 0.1148
Epoch 50/75
804/804 [==============================] - 0s 586us/step - loss: 0.5520 - accuracy: 0.0257
Epoch 51/75
804/804 [==============================] - 0s 544us/step - loss: 0.5522 - accuracy: 0.0125
Epoch 52/75
804/804 [==============================] - 0s 563us/step - loss: 0.5510 - accuracy: 0.0350
Epoch 53/75
804/804 [==============================] - 0s 564us/step - loss: 0.5506 - accuracy: 0.0763
Epoch 54/75
804/804 [==============================] - 0s 577us/step - loss: 0.5531 - accuracy: 0.1386
Epoch 55/75
804/804 [==============================] - 0s 570us/step - loss: 0.5596 - accuracy: 0.3551
Epoch 56/75
804/804 [==============================] - 0s 547us/step - loss: 0.5542 - accuracy: 0.3992
Epoch 57/75
804/804 [==============================] - 0s 522us/step - loss: 0.5508 - accuracy: 0.5991
Epoch 58/75
804/804 [==============================] - 0s 535us/step - loss: 0.5495 - accuracy: 0.5296
Epoch 59/75
804/804 [==============================] - 0s 529us/step - loss: 0.5514 - accuracy: 0.5074
Epoch 60/75
804/804 [==============================] - 0s 527us/step - loss: 0.5547 - accuracy: 0.0186
Epoch 61/75
804/804 [==============================] - 0s 522us/step - loss: 0.5512 - accuracy: 0.0159
Epoch 62/75
804/804 [==============================] - 0s 520us/step - loss: 0.5499 - accuracy: 0.0661
Epoch 63/75
804/804 [==============================] - 0s 550us/step - loss: 0.5480 - accuracy: 0.1747
Epoch 64/75
804/804 [==============================] - 0s 537us/step - loss: 0.5490 - accuracy: 0.2227
Epoch 65/75
804/804 [==============================] - 0s 528us/step - loss: 0.5500 - accuracy: 0.1991
Epoch 66/75
804/804 [==============================] - 0s 616us/step - loss: 0.5493 - accuracy: 0.2070
Epoch 67/75
804/804 [==============================] - 0s 537us/step - loss: 0.5503 - accuracy: 0.1240
Epoch 68/75
804/804 [==============================] - 0s 592us/step - loss: 0.5486 - accuracy: 0.1834
Epoch 69/75
804/804 [==============================] - 0s 544us/step - loss: 0.5476 - accuracy: 0.2315
Epoch 70/75
804/804 [==============================] - 0s 550us/step - loss: 0.5500 - accuracy: 0.0992
Epoch 71/75
804/804 [==============================] - 0s 581us/step - loss: 0.5506 - accuracy: 0.05920s - loss: 0.5512 - accuracy: 0.
Epoch 72/75
804/804 [==============================] - 0s 538us/step - loss: 0.5492 - accuracy: 0.2138
Epoch 73/75
804/804 [==============================] - 0s 596us/step - loss: 0.5491 - accuracy: 0.1071
Epoch 74/75
804/804 [==============================] - 0s 548us/step - loss: 0.5482 - accuracy: 0.0845
Epoch 75/75
804/804 [==============================] - 0s 560us/step - loss: 0.5500 - accuracy: 0.0321

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 8.1631 - accuracy: 0.4708
Loss: 8.163082122802734, Accuracy: 0.4707871675491333

In [47]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
    X_test_scaled, y_test, verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5738 - accuracy: 0.0564
Loss: 0.5738170146942139, Accuracy: 0.056443147361278534

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
    X_test_scaled, y_test, verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5649 - accuracy: 0.0653
Loss: 0.5649293661117554, Accuracy: 0.06530611962080002

### Step 3: Save each of your alternative models as an HDF5 file.

In [49]:
# Set the file path for the first alternative model
file_path =Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn.save(file_path)

In [50]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn.save(file_path)